<?xml version="1.0"?>
<model>
  <name>Pusher Solenoid</name>
  <version>1.0</version>
  <sdf version="1.10">model.sdf</sdf>

  <author>
    <name>Giacomo Tessari</name>
    <email>giacomotessari0@gmail.com</email>
  </author>

  <description>
    A simple solenoid, which can push objects.
  </description>
</model>