<?xml version="1.0"?>
<model>
  <name>Small Cone</name>
  <version>1.0</version>
  <sdf version="1.10">model.sdf</sdf>

  <author>
    <name>Giacomo Tessari</name>
    <email>giacomotessari0@gmail.com</email>
  </author>

  <description>
    A small cone, the same size to fit in a conveyor.sdf (Gazebo Harmonic sample world) conveyor belt.
  </description>
</model>