<?xml version="1.0"?>
<model>
  <name>Conveyor Belt</name>
  <version>1.0</version>
  <sdf version="1.10">model.sdf</sdf>

  <author>
    <name>Giacomo Tessari</name>
    <email>giacomotessari0@gmail.com</email>
  </author>

  <description>
    A working conveyor belt, extracted from the conveyor.sdf sample Gazebo world.
    Controlled via keyboard through the TrackController plugin.
  </description>
</model>