<?xml version="1.0"?>
<model>
  <name>Parts Bin</name>
  <version>1.0</version>
  <sdf version="1.10">model.sdf</sdf>

  <author>
    <name>Giacomo Tessari</name>
    <email>giacomotessari0@gmail.com</email>
  </author>

  <description>
    A simple parts bin.
    Can be placed at the end of a conveyor belt, for example.
  </description>
</model>